{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block header %}{% endblock %}
{% block content1 %}{% endblock %}
{% block content2 %}{% endblock %}
{% block about %}{% endblock %}

{% block contact %}
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Réinitialiser votre mot de passe</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row align-items-stretch mb-5 justify-content-md-center">
                <div class="col-md-6 form-group" >
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form(form, {"attr": {"id":"contactForm"}} ) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}